<ion-content padding class="bg-class">
  <ion-toolbar style="background-color: transparent">
      <ion-title style = "text-align:center; font-family:Helvetica; font-size:45px">
        <div class="fadeIn">Welcome to</div>
      </ion-title>
  </ion-toolbar>

      <div class="fadeIn">
      </div>
        
        <div class ="fadeIn">
          <div class="center">

          <!-- <ion-button (click)="goToLogin()"> -->

          <ion-button ion-button style="color: white;background-color: #1c357a;outline-color: #1c357a; font-size:24px;" (click)="goToLogin()">
              Login
          </ion-button>
          </div>
      </div>

</ion-content>